<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>{{title}}<%= yield(:title) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  
  <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0" />
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  
  <!-- <base href="/"> -->
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
</head>
<body ng-class="{true: 'body-pushed'}[main.pushmenu]">




<%= render 'shared/header' %>
<%= render 'shared/sidenav' %>
<%= render 'shared/modal' %>

<div id="view-container" class="container-fluid" ng-click="main.pushmenu = false">
	
	<% flash.each do |message_type, message| %>
	  <div class="text-center alert alert-<%= message_type %> error-message"><%= message %></div>
	<% end %>

	

		<%= yield %>

	
</div>
<%= render 'shared/footer' %>

</body>
</html>
